<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                   <!-- <li role="presentation" class="active"><a href="/userHome"></a></li>-->
                    <li role="presentation"><a href="/logout">Log Out</a></li>
                </ul>
            </nav>
            <img src="/static/images/Travel.jpeg" alt=""/>
        </div>
      <div class="jumbotron">
        <h1> Welcome {{session.sessionusername}}</h1>
      </div>
        <footer class="footer">
            <p></p>
        </footer>
    </div>
</body>
</html>